<div class="page-header">
   <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">{{ name }}</h2>
   </div>
</div>
<section class="no-padding-top">
   <div class="container-fluid">
      <div class="row">
         {{#each teams}}
         <div class="col-lg-6">
            <div class="block margin-bottom-sm">
              <div class="title">
                <strong>{{ @key }}</strong>
                <strong class="text-primary">
                  {{ points }} pts
                </strong> 
              </div>
               <div class="table-responsive">
                  <table class="table table-striped table-sm">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Status</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{#each people}}
                        <tr>
                           {{#if (lookup (lookup ../../people this) 'alive')}}
                             <td> {{lookup (lookup ../../people this) 'name'}} </td>
                             <td> Alive </td>
                           {{else}}
                             <td> <strong class="text-primary">
                               {{lookup (lookup ../../people this) 'name'}} 
                             </strong> </td>
                             <td> <strong class="text-primary">
                                DEAD
                             </strong> </td>
                           {{/if}}
                        </tr>
                        {{/each}}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
         {{/each}}
     </div>
   </div>
</s
ection>
