<div class="page-header">
   <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">{{ name }}</h2>
   </div>
</div>
<section class="no-padding-top">
   <div class="container-fluid">
               <div class="table-responsive">
                  <table class="table table-striped table-sm">
                     <thead>
                        <tr>
                           <th>Name</th>
                           <th>Age</th>
                           <th>Status</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{#each people}}
                        <tr>
                             <td> 
                             {{#unless alive}}
                                <strong class="text-primary">
                             {{/unless}}
                                   {{name}} 
                                   {{#if star}}
                                      <i class="fa fa-star"></i>
                                   {{/if}}
                             {{#unless alive}}
                                 </strong> 
                             {{/unless}}
                             </td>
                             <td> 
                             {{#unless alive}}
                                <strong class="text-primary">
                             {{/unless}}
                                   {{age}} 
                             {{#unless alive}}
                                 </strong> 
                             {{/unless}}
                             </td>
                             <td>
                               {{#if alive}}
                                  Alive
                               {{ else }}
                                  <strong class="text-primary">
                                    DEAD
                                  </strong>
                               {{/if}}
                             </td>
                        </tr>
                        {{/each}}
                     </tbody>
                  </table>
               </div>
   </div>
</section>
