<div class="page-header">
   <div class="container-fluid">
      <h2 class="h5 no-margin-bottom">{{ name }}</h2>
   </div>
</div>
<section class="no-padding-bottom">
   <div class="container-fluid">
      <div class="row">
         {{#each scores.top_3}}
         <div class="col-lg-4">
            <div class="user-block block text-center">
               <div class="avatar">
                 <img src="{{ ../asset_path }}img/players/{{name}}-thumb.jpg" alt="..." class="img-fluid">
                 <div class="order dashbg-2">{{ title }}</div>
               </div>
               <a href="#" class="user-title">
                 <h3 class="h5">{{ name }}</h3>
               </a>
               <div class="details d-flex">
                  <div class="item" title="Total Points"><i class="fa fa-trophy"></i><strong>
                      {{ lookup (lookup ../teams name) 'points' }}
                  </strong></div>
                  <div class="item" title="Number of Deaths"><i class="fa fa-crosshairs"></i><strong>
                      {{ lookup (lookup ../teams name) 'deaths' }}
                  </strong></div>
                  <div class="item" title="Combined Age of the Deceased"><i class="fa fa-calendar"></i><strong>
                      {{ lookup (lookup ../teams name) 'total_age' }}
                  </strong></div>
               </div>
            </div>
         </div>
         {{/each}}

      </div>

       {{#each scores.the_rest}}
      <div class="public-user-block block">
         <div class="row d-flex align-items-center">
            <div class="col-lg-4 d-flex align-items-center">
              <div class="order">{{title}}</div>
              <div class="avatar"> <img src="{{ ../asset_path }}img/players/{{name}}-thumb.jpg" alt="..." class="img-fluid"></div>
               <a href="#" class="name"><strong class="d-block">{{name}}</strong></a>
            </div>
            <div class="col-lg-4 text-center">
            </div>
            <div class="col-lg-4">
               <div class="details d-flex">
                  <div class="item" title="Total Points"><i class="fa fa-trophy"></i><strong>
                      {{ lookup (lookup ../teams name) 'points' }}
                  </strong></div>
                  <div class="item" title="Number of Deaths"><i class="fa fa-crosshairs"></i><strong>
                      {{ lookup (lookup ../teams name) 'deaths' }}
                  </strong></div>
                  <div class="item" title="Combined Age of the Deceased"><i class="fa fa-calendar"></i><strong>
                      {{ lookup (lookup ../teams name) 'total_age' }}
                  </strong></div>
               </div>
            </div>
         </div>
      </div>
      {{/each}}

   </div>
</s
ection>
